apiVersion: v1
kind: ConfigMap
metadata:
  name: dex-config
data:
  config.yaml: |
    issuer: https://oidc.crazypokemondev.de
    storage:
      type: sqlite3
      config:
        file: var/sqlite/dex.db
    web:
      http: 127.0.0.1:5556
    telemetry:
      http: 127.0.0.1:5558
    grpc:
      addr: 127.0.0.1:5557
    staticClients:
      - id: headlamp
        redirectURIs:
          - 'http://metallb.fritz.box/oidc-callback'
        name: 'Example App'
        secretEnv: 'HEADLAMP_OIDC_SECRET'
    enablePasswordDB: true
