apiVersion: v1
kind: ConfigMap
metadata:
  name: dex-config
data:
  config.docker.yaml: |
    issuer: https://oidc.crazypokemondev.de
    storage:
      type: mysql
      config:
        host: mysql.fritz.box
        port: 3306
        database: dex_db
        user: {{ .Env.DB_USER }}
        password: {{ .Env.DB_PASSWORD }}
        ssl:
          mode: false
    web:
      http: 127.0.0.1:5556
    telemetry:
      http: 127.0.0.1:5558
    grpc:
      addr: 127.0.0.1:5557
    staticClients:
      - id: headlamp
        redirectURIs:
          - 'https://metallb.fritz.box/oidc-callback'
        name: 'Example App'
        secretEnv: 'HEADLAMP_OIDC_SECRET'
    enablePasswordDB: true
